/* From Uiverse.io by satyamchaudharydev */
:root{
  --color-primary: #00080f;
  --color-accent: #2b7fff;
  --color-accent-light: #6eacda;
  --color-secondary: #f5f5f5;
  --text-dark: #9c9c9b;
  --color-gray: #2b2b2b;
}

html {
  color: var(--color-secondary);
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-primary);
}

.test {
  border: 1px solid red;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
  color: #e6e6e6;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

.card {
  width: 400px;
  height: fit-content;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card-plain {
  width: 400px;
  height: fit-content;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card-plain p {
  color: rgb(163, 0, 0);
}
.card p {
  color: rgb(0, 163, 0);
}

.card h2,
.card-plain h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(9, 87, 255));
  height: 200%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after,
.card-plain::after {
  content: "";
  position: absolute;
  background: #040c18;
  inset: 5px;
  border-radius: 15px;
}
/* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */

.progress-indicator .progress-btn {
  background-color: var(--color-gray);
  color: var(--text-dark);
}

.progress-indicator.active .progress-btn {
  background-color: var(--color-accent);
  color: white;
}

.progress-indicator.active p {
  color: var(--color-accent);
}

.progress-indicator p {
  color: var(--text-dark);
}
