<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />
    <!-- TAILWIND -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Modal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header class="w-full bg-[var(--color-primary)]">
      <nav
        class="flex max-w-screen-2xl font-thin mx-auto justify-between items-center p-4"
      >
        <div class="flex items-center">
          <div class="text-2xl font-bold">
            <stong class="">FishNet+</stong
            ><span class="text-[var(--color-accent)] scale-125">.</span>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <a href="/">
            <div class="hover:cursor-pointer hover:text-blue-500 text-blue-400">
              Home
            </div>
          </a>

          <a href="/about"
            ><div class="hover:cursor-pointer hover:text-blue-400">
              About
            </div></a
          >
          <a href="/contact"
            ><div class="hover:cursor-pointer hover:text-blue-400">
              Contact Us
            </div></a
          >
          <a href="/howtouse"
            ><div class="hover:cursor-pointer hover:text-blue-400">
              How To Use
            </div></a
          >
        </div>
        <a href="https://github.com/kruizo/res-training" target="_blank">
          <button
            class="py-2 flex items-center transition-colors duration-300 font-bold justify-center gap-2 cursor-pointer border border-[var(--color-accent)] text-[var(--color-accent)] px-3 rounded-lg hover:bg-blue-400 hover:text-white"
          >
            <i class="fa fa-github" style="font-size: 25px"></i>
            Github
          </button>
        </a>
      </nav>
    </header>

    <main class="max-w-screen-2xl mx-auto">
      <section id="content-section">
        <div id="content-wrapper" class="h-full w-full">
          <!-- Upload Section -->
          <section id="upload-section">
            <div class="mx-auto">
              <div
                class="pt-20 pb-5 flex flex-col items-center mx-auto w-full space-y-4"
              >
                <p class="font-extrabold text-4xl">Fish Species Classifier</p>
                <p>
                  A fish classification model which can classify up to
                  <span class="text-[var(--color-accent)]"
                    ><strong>18</strong></span
                  >
                  species!
                </p>
              </div>
            </div>

            <!-- Drop Area / Upload Card-->
            <div class="flex flex-col items-center py-10 space-y-6 group">
              <div
                class="relative max-w-screen-sm w-full h-[300px] p-1 rounded-xl bg-gradient-to-l from-[var(--color-accent-light)] to-blue-500 overflow-visible group"
              >
                <div
                  class="absolute top-[30px] left-0 right-0 z-[-1] w-full h-full transform scale-80 blur-[25px] bg-gradient-to-l from-[var(--color-accent-light)] to-blue-500 transition-opacity duration-500 group-hover:opacity-0"
                ></div>

                <div
                  class="flex flex-col justify-center items-center w-full h-full bg-[var(--color-primary)] rounded-lg group-hover:text-[var(--color-accent-light)] transition-colors duration-1000 space-y-4"
                  id="drop-area"
                >
                  <form
                    id="predict-form"
                    enctype="multipart/form-data"
                    class="flex flex-col items-center space-y-10"
                  >
                    <label
                      for="input-file"
                      class="cursor-pointer flex flex-col items-center space-y-10"
                    >
                      <i
                        class="fa fa-upload text-[var(--color-accent)] transition-colors duration-300"
                        style="font-size: 100px"
                      ></i>
                      <p class="text-[var(--text-dark)]">
                        <strong>Drag</strong> or <strong>upload</strong> an
                        image file
                      </p>
                    </label>
                    <input
                      type="file"
                      accept="image/*"
                      id="input-file"
                      hidden
                    />
                    <button
                      type="button"
                      id="upload-btn"
                      class="px-4 py-2 bg-[var(--color-accent)] text-white rounded-md hover:bg-[var(--color-accent-light)] cursor-pointer transition-colors duration-300"
                    >
                      Choose Image
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <!-- REsult Section-->
          <section id="result-section" class="hidden">
            <div class="mx-auto">
              <div
                class="pt-20 pb-5 flex flex-col items-center mx-auto w-full space-y-4"
              >
                <p class="italic text-[var(--text-dark)]">Fish Identified</p>
                <p class="font-extrabold text-4xl proposed-pred"></p>
                <p>
                  We are
                  <span class="text-[var(--color-accent)]"
                    ><strong
                      ><span class="proposed-conf"></span>% confident</strong
                    ></span
                  >
                  that the fish is a <span class="proposed-pred"></span>!
                </p>
              </div>

              <div
                class="flex flex-wrap qp-4 w-fit mx-auto gap-20 space-x-10 justify-between items-center"
              >
                <div id="baseline-card">
                  <div
                    class="w-full h-full flex flex-col justify-between px-5 py-4 z-20"
                  >
                    <h2 class="text-center font-thin pb-3">BASE MODEL</h2>
                    <img src="" alt="" class="w-50 h-50 mx-auto" />
                    <div class="mx-auto flex p-4 w-fit gap-4 items-center">
                      <p><span class="baseline-speed font-bold"></span>ms</p>
                      <p>
                        <span class="baseline-conf font-bold"></span>% Conf.
                      </p>
                    </div>
                    <h1
                      class="text-center baseline-pred font-semibold italic"
                    ></h1>
                    <button
                      type="button"
                      id="baseline-show-graph"
                      class="my-2 px-2 py-1 cursor-pointer text-sm w-full rounded-md text-[var(--color-accent)] hover:underline"
                    >
                      Show Graph
                    </button>
                  </div>
                </div>

                <!-- Proposed Card / .card-plain = no rotating border-->
                <div class="card-plain" id="proposed-card">
                  <div
                    class="h-full w-full flex flex-col justify-between px-5 py-4 z-20"
                  >
                    <h2 class="text-center font-thin pb-3">NEW MODEL</h2>
                    <img src="" alt="" class="w-50 h-50 mx-auto" />
                    <div class="mx-auto flex p-4 w-fit gap-4 items-center">
                      <p><span class="proposed-speed font-bold"></span>ms</p>
                      <p>
                        <span class="proposed-conf font-bold"></span>% Conf.
                      </p>
                    </div>
                    <h1
                      class="text-center proposed-pred font-semibold italic"
                    ></h1>
                    <button
                      type="button"
                      id="proposed-show-graph"
                      class="my-2 px-2 py-1 cursor-pointer text-sm w-full rounded-md text-[var(--color-accent)] hover:underline"
                    >
                      Show Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="save-section" class="hidden">
            <div class="mx-auto">
              <div
                class="pt-20 pb-5 flex flex-col items-center mx-auto w-full space-y-4"
              >
                <p class="italic text-[var(--text-dark)]">Compare Results</p>
                <p class="font-extrabold text-4xl text-white">
                  Here's what other models think.
                </p>
                <p>
                  Classified using
                  <span
                    ><strong class="text-[var(--color-accent)]"
                      >MobileNetV2</strong
                    >,
                    <strong class="text-[var(--color-accent)]"
                      >InceptionV3</strong
                    >, and
                    <strong class="text-[var(--color-accent)]"
                      >DenseNet121</strong
                    ></span
                  >
                </p>
              </div>

              <div
                class="flex p-4 w-fit mx-auto gap-20 space-x-10 justify-between items-center"
              >
                <div class="card" id="mobilenet-card">
                  <div
                    class="w-full h-full flex flex-col justify-between px-5 py-4 z-20"
                  >
                    <h2 class="text-center font-thin pb-3">MobileNetV2</h2>
                    <img src="" alt="" class="w-50 h-50 mx-auto" />
                    <div class="mx-auto flex p-4 w-fit gap-4 items-center">
                      <p><span class="mobilenet-speed font-bold"></span>ms</p>
                      <p>
                        <span class="mobilenet-conf font-bold"></span>% Conf.
                      </p>
                    </div>
                    <h1
                      class="text-center mobilenet-pred font-semibold italic"
                    ></h1>
                    <button
                      type="button"
                      id="mobilenet-show-graph"
                      class="my-2 px-2 py-1 cursor-pointer text-sm w-full rounded-md text-[var(--color-accent)] hover:underline"
                    >
                      Show Graph
                    </button>
                  </div>
                </div>
                <div class="card" id="inception-card">
                  <div
                    class="h-full w-full flex flex-col justify-between px-5 py-4 z-20"
                  >
                    <h2 class="text-center font-thin pb-3">InceptionV3</h2>
                    <img src="" alt="" class="w-50 h-50 mx-auto" />
                    <div class="mx-auto flex p-4 w-fit gap-4 items-center">
                      <p><span class="inception-speed font-bold"></span>ms</p>
                      <p>
                        <span class="inception-conf font-bold"></span>% Conf.
                      </p>
                    </div>
                    <h1
                      class="text-center inception-pred font-semibold italic"
                    ></h1>
                    <button
                      type="button"
                      id="inception-show-graph"
                      class="my-2 px-2 py-1 cursor-pointer text-sm w-full rounded-md text-[var(--color-accent)] hover:underline"
                    >
                      Show Graph
                    </button>
                  </div>
                </div>
                <div class="card" id="dense-card">
                  <div
                    class="h-full w-full flex flex-col justify-between px-5 py-4 z-20"
                  >
                    <h2 class="text-center font-thin pb-3">DenseNet121</h2>
                    <img src="" alt="" class="w-50 h-50 mx-auto" />
                    <div class="mx-auto flex p-4 w-fit gap-4 items-center">
                      <p><span class="dense-speed font-bold"></span>ms</p>
                      <p><span class="dense-conf font-bold"></span>% Conf.</p>
                    </div>
                    <h1
                      class="text-center dense-pred font-semibold italic"
                    ></h1>
                    <button
                      type="button"
                      id="dense-show-graph"
                      class="my-2 px-2 py-1 cursor-pointer text-sm w-full rounded-md text-[var(--color-accent)] hover:underline"
                    >
                      Show Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Progress Indicators -->
        <div class="flex justify-center items-center space-x-4 py-8">
          <div
            class="progress-indicator active flex flex-col justify-center items-center space-y-4"
          >
            <button
              id="btn-upload"
              class="progress-btn mx-auto cursor-pointer nav-btn w-10 h-10 flex items-center justify-center bg-[var(--color-accent)] text-white rounded-full hover:bg-[var(--color-accent-light)]"
              data-section="upload"
            >
              <h2 class="text-xs text-center">1</h2>
            </button>
            <p class="text-center text-sm text-[var(--text-dark)]">Upload</p>
          </div>

          <!-- Progress Line -->
          <div
            class="progress-line w-12 h-[0.05em] mb-6 bg-[var(--color-gray)]"
          ></div>

          <div
            class="progress-indicator flex flex-col justify-center items-center space-y-4"
          >
            <button
              id="btn-results"
              class="progress-btn mx-auto cursor-pointer w-10 h-10 flex items-center justify-center bg-[var(--color-gray)] text-[var(--text-dark)] rounded-full hover:bg-[var(--color-accent-light)]"
              data-section="results"
            >
              <h2 class="text-xs text-center">2</h2>
            </button>
            <p class="text-center text-sm text-[var(--text-dark)]">Results</p>
          </div>

          <!-- Progress Line -->
          <div
            class="progress-line w-12 h-[0.05em] mb-6 bg-[var(--color-gray)]"
          ></div>

          <div
            class="progress-indicator flex flex-col justify-center items-center space-y-4"
          >
            <button
              id="btn-save"
              class="progress-btn mx-auto cursor-pointer nav-btn w-10 h-10 flex items-center justify-center rounded-full hover:bg-[var(--color-accent-light)]"
              data-section="save"
            >
              <h2 class="text-xs text-center">3</h2>
            </button>
            <p class="text-center text-sm text-[var(--text-dark)]">Compare</p>
          </div>
        </div>
      </section>

      <!-- Loader -->
      <div
        class="h-[90vh] bg-[var(--color-primary)] w-full flex flex-col hidden justify-center items-center z-50"
        id="loader"
      >
        <div class="loading">
          <span></span><span></span><span></span><span></span><span></span>
        </div>
        <h1 class="font-thin">Classifying...</h1>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
