<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />
    <!-- TAILWIND -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Modal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header class="w-full bg-[var(--color-primary)]">
      <nav
        class="flex max-w-screen-2xl font-thin mx-auto justify-between items-center p-4"
      >
        <div class="flex items-center">
          <div class="text-2xl font-bold">
            <stong class="">FishNet+</stong
            ><span class="text-[var(--color-accent)] scale-125">.</span>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <a href="/">
            <div class="hover:cursor-pointer hover:text-blue-400">Home</div>
          </a>

          <a href="/about"
            ><div class="hover:cursor-pointer hover:text-blue-400">
              About
            </div></a
          >
          <a href="/contact"
            ><div class="hover:cursor-pointer hover:text-blue-400">
              Contact Us
            </div></a
          >
          <a href="/howtouse"
            ><div
              class="hover:cursor-pointer hover:text-blue-500 text-blue-400"
            >
              How To Use
            </div></a
          >
        </div>
        <a href="https://github.com/kruizo/res-training" target="_blank">
          <button
            class="py-2 flex items-center transition-colors duration-300 font-bold justify-center gap-2 cursor-pointer border border-[var(--color-accent)] text-[var(--color-accent)] px-3 rounded-lg hover:bg-blue-400 hover:text-white"
          >
            <i class="fa fa-github" style="font-size: 25px"></i>
            Github
          </button>
        </a>
      </nav>
    </header>

    <main class="max-w-screen-2xl mx-auto">
      <section id="content-section ">
        <div class="px-60">
          <div class="flex items-center justify-center py-10">
            <div class="text-5xl font-bold">
              <stong class="">How to Use</stong
              ><span class="text-[var(--color-accent)] scale-125">.</span>
            </div>
          </div>
          <div class="space-y-6">
            <div
              class="bg-gray-800 p-6 flex justify-between items-center rounded-lg shadow-lg"
            >
              <div class="">
                <h2 class="text-xl font-semibold">1. Upload Fish Image</h2>
                <p class="text-gray-400">
                  Click on "Choose Image" button to open File Explorer.
                </p>
              </div>
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg"
              >
                Choose Image
              </button>
            </div>

            <div
              class="bg-gray-800 p-6 flex justify-between items-center rounded-lg shadow-lg"
            >
              <div>
                <h2 class="text-xl font-semibold">2. Select Fish Image</h2>
                <p class="text-gray-400">
                  From your file explorer, select an image, then click "Open".
                </p>
              </div>
              <select
                disabled
                class="bg-gray-700 text-white px-4 py-2 rounded-lg border border-gray-600"
              >
                <option>Open</option>
              </select>
            </div>

            <div
              class="bg-gray-800 p-6 flex justify-between items-center rounded-lg shadow-lg"
            >
              <div>
                <h2 class="text-xl font-semibold">3. All Set!</h2>
                <p class="text-gray-400">
                  Image uploaded! The classification process is running. Results
                  will appear shortly.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
